<div class="content container" role="main">
  
  <div class="col-md-12 text-center mb-5">
    <button class="btn btn-primary" [routerLink]="['/item']">
      Nuevo animal
    </button>
  </div>

  <div id="Lista_Animales" class="row">
      <table class="table col-md-12">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Sonido</th>
            <th>Cantidad de extremidades</th>
            <th>Tipo de esqueleto</th>
            <th>Tipo de alimentacion</th>
            <th>Tipo de movimiento</th>
            <th>Opciones</th>
          </tr>
        </thead>

        <tbody>
          <tr class="text-center" *ngFor="let animal of animals">
            <td>{{ animal['Nombre'] }}</td>
            <td>{{ animal['Sonido'] }}</td>
            <td>{{ animal['Cantidad_Extremidades'] }}</td>
            <td>{{ animal['Tipo_Esqueleto'] }}</td>
            <td>{{ animal['_TipoAlimentacion'] }}</td>
            <td>{{ animal['_TipoMovimiento'] }}</td>
            <td>
              <button class="btn btn-danger" name="{{ animal['Nombre'] }}" (click)="eliminarAnimal(animal.Nombre)">
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

<router-outlet></router-outlet>